In [9]:
#Employee Salary Predicition using adult csv dataset

import pandas as pd

In [11]:
data=pd.read_csv(r"C:\Users\Bipin\Employee Salary Predicition\Data\adult.csv")

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.head(7)

In [ ]:
data.tail()

In [ ]:
#Null Values
data.isna()

In [ ]:
data.isna().sum()

In [ ]:
print(data.gender.value_counts())

In [ ]:
print(data.occupation.value_counts())

In [ ]:
print(data['marital-status'].value_counts())

In [ ]:
print(data['education'].value_counts())

In [ ]:
print(data['workclass'].value_counts())

In [13]:
data.occupation.replace({'?':'Others'},inplace=True)

C:\Users\Bipin\AppData\Local\Temp\ipykernel_8112\2426378524.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.occupation.replace({'?':'Others'},inplace=True)

In [ ]:
print(data['occupation'].value_counts())

In [ ]:
data

In [15]:
data.workclass.replace({'?':'NotListed'},inplace=True)

C:\Users\Bipin\AppData\Local\Temp\ipykernel_8112\2835487482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.workclass.replace({'?':'NotListed'},inplace=True)

In [ ]:
print(data['workclass'].value_counts())

In [19]:
data=data[data['workclass']!='Without-pay']
data=data[data['workclass']!='Never-worked']

In [ ]:
print(data['workclass'].value_counts())

In [ ]:
data.shape

In [21]:
data=data[data['education']!='5th-6th']
data=data[data['education']!='1st-4th']
data=data[data['education']!='Preschool']

In [ ]:
print(data['education'].value_counts())

In [ ]:
data.shape

In [23]:
#redudancy
data.drop(columns=['education'],inplace=True)

In [25]:
data.drop(columns=['fnlwgt'],inplace=True)
data.drop(columns=['marital-status'],inplace=True)
data.drop(columns=['relationship'],inplace=True)
data.drop(columns=['race'],inplace=True)
data.drop(columns=['capital-gain'],inplace=True)
data.drop(columns=['capital-loss'],inplace=True)
data.drop(columns=['native-country'],inplace=True)
data.drop(columns=['workclass'],inplace=True)

In [27]:
print(data.columns.tolist())

['age', 'educational-num', 'occupation', 'gender', 'hours-per-week', 'income']

In [ ]:
data

In [ ]:
#Outlier
import matplotlib.pyplot as plt
plt.boxplot(data['age'])
plt.show()

In [ ]:
data=data[(data['age']<=75) & (data['age']>=17)]

In [ ]:
plt.boxplot(data['age'])
plt.show()

In [29]:
#Label encoding
from sklearn.preprocessing import LabelEncoder
occ_encoder = LabelEncoder()
gender_encoder = LabelEncoder()
#data['workclass']=encoder.fit_transform(data['workclass'])
#data['marital-status']=encoder.fit_transform(data['marital-status'])
data['occupation']=occ_encoder.fit_transform(data['occupation'])
#data['relationship']=encoder.fit_transform(data['relationship'])
#data['race']=encoder.fit_transform(data['race'])
data['gender']=gender_encoder.fit_transform(data['gender'])
#data['native-country']=encoder.fit_transform(data['native-country'])
data

       age  educational-num  occupation  gender  hours-per-week income
0       25                7           6       1              40  <=50K
1       38                9           4       1              50  <=50K
2       28               12          11       1              40   >50K
3       44               10           6       1              40   >50K
4       18               10           8       0              30  <=50K
...    ...              ...         ...     ...             ...    ...
48837   27               12          13       0              38  <=50K
48838   40                9           6       1              40   >50K
48839   58                9           0       0              40  <=50K
48840   22                9           0       1              20  <=50K
48841   52                9           3       0              40   >50K

[47972 rows x 6 columns]

In [31]:
x=data.drop(columns=['income']) # input
y=data['income'] #output
x

       age  educational-num  occupation  gender  hours-per-week
0       25                7           6       1              40
1       38                9           4       1              50
2       28               12          11       1              40
3       44               10           6       1              40
4       18               10           8       0              30
...    ...              ...         ...     ...             ...
48837   27               12          13       0              38
48838   40                9           6       1              40
48839   58                9           0       0              40
48840   22                9           0       1              20
48841   52                9           3       0              40

[47972 rows x 5 columns]

In [33]:
y

0        <=50K
1        <=50K
2         >50K
3         >50K
4        <=50K
         ...
48837    <=50K
48838     >50K
48839    <=50K
48840    <=50K
48841     >50K
Name: income, Length: 47972, dtype: object

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x=scaler.fit_transform(x)
x

array([[0.10958904, 0.25      , 0.42857143, 1.        , 0.39795918],
       [0.28767123, 0.41666667, 0.28571429, 1.        , 0.5       ],
       [0.15068493, 0.66666667, 0.78571429, 1.        , 0.39795918],
       ...,
       [0.56164384, 0.41666667, 0.        , 0.        , 0.39795918],
       [0.06849315, 0.41666667, 0.        , 1.        , 0.19387755],
       [0.47945205, 0.41666667, 0.21428571, 0.        , 0.39795918]])

In [79]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest=train_test_split(x,y, test_size=0.2, random_state=23, stratify=y)

In [89]:
xtrain

array([[0.04109589, 0.41666667, 0.5       , 0.        , 0.34693878],
       [0.26027397, 0.41666667, 0.57142857, 1.        , 0.39795918],
       [0.02739726, 0.16666667, 0.57142857, 0.        , 0.37755102],
       ...,
       [0.05479452, 0.41666667, 0.57142857, 0.        , 0.39795918],
       [0.19178082, 0.08333333, 0.28571429, 0.        , 0.41836735],
       [0.19178082, 0.41666667, 0.14285714, 1.        , 0.5       ]])

In [53]:
#Machine learing Algorithm
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(xtrain,ytrain) #input and output training data
predict0=knn.predict(xtest)
predict0

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '>50K', '<=50K'],
      dtype=object)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict0)

0.7864512767066181

In [59]:
#Machine learing Algorithm
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(class_weight='balanced', max_iter=1000)
lr.fit(xtrain,ytrain) #input and output training data
predict1=lr.predict(xtest)
predict1 #predict value

array(['<=50K', '<=50K', '<=50K', ..., '>50K', '>50K', '<=50K'],
      dtype=object)

In [61]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict1)

0.7373632100052111

In [ ]:
from sklearn.neural_network import MLPClassifier #Multilayer perceptrom
clf=MLPClassifier(solver='adam', hidden_layer_sizes=(5,2), random_state=2, max_iter=2000)
clf.fit(xtrain,ytrain) #input and output training data
predict2=clf.predict(xtest)
predict2 #predict value

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict2)

In [ ]:
#Machine learing Algorithm
from sklearn.ensemble import GradientBoostingClassifier
gr=GradientBoostingClassifier()
gr.fit(xtrain,ytrain) #input and output training data
predict=gr.predict(xtest)
predict #predict value

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,predict)

In [69]:
import joblib
joblib.dump(lr,r"C:\Users\Bipin\Employee Salary Predicition\pkl/model.pkl")

['C:\\Users\\Bipin\\Employee Salary Predicition\\pkl/model.pkl']

In [71]:
import joblib
joblib.dump(occ_encoder, 'pkl/occ_encoder.pkl')
joblib.dump(gender_encoder, 'pkl/gender_encoder.pkl')

['pkl/gender_encoder.pkl']

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingClassifier
import joblib

# 2. Encode target variable
le_income = LabelEncoder()
y = le_income.fit_transform(df["income"])
joblib.dump(le_income, 'pkl/income_label_encoder.pkl')

# 3. Select relevant features
X = df[['age', 'educational-num', 'hours-per-week', 'occupation']].copy()

# 4. Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# 5. Define preprocessing
categorical_features = ['occupation']
numerical_features = ['age', 'educational-num', 'hours-per-week']

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

# 6. Define pipeline with Gradient Boosting
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', GradientBoostingClassifier())
])

# 7. Train model
model.fit(X_train, y_train)

# 8. Save the trained model
joblib.dump(model, 'pkl/model.pkl')
print("✅ Gradient Boosting model saved to pkl/model.pkl")

In [77]:
%%writefile app.py
import streamlit as st
import pandas as pd
import joblib

# Load the trained model and encoders
model = joblib.load("pkl/model.pkl")
occupation_encoder = joblib.load("pkl/occ_encoder.pkl")  # corrected filename
gender_encoder = joblib.load("pkl/gender_encoder.pkl")

st.set_page_config(page_title="Employee Salary Classification", page_icon="💼", layout="centered")

st.title("💼 Employee Salary Classification App")
st.markdown("Predict whether an employee earns >50K or ≤50K based on input features.")

# Sidebar inputs
st.sidebar.header("Input Employee Details")

age = st.sidebar.slider("Age", 18, 65, 30)

education_levels = {
    "Preschool": 1, "1st-4th": 2, "5th-6th": 3, "7th-8th": 4, "9th": 5,
    "10th": 6, "11th": 7, "12th": 8, "HS-grad": 9, "Some-college": 10,
    "Assoc": 11, "Bachelors": 13, "Masters": 14, "PhD": 16
}
education_label = st.sidebar.selectbox("Education Level", list(education_levels.keys()))
educational_num = education_levels[education_label]

occupation_label = st.sidebar.selectbox("Job Role", [
    "Tech-support", "Craft-repair", "Other-service", "Sales",
    "Exec-managerial", "Prof-specialty", "Handlers-cleaners", "Machine-op-inspct",
    "Adm-clerical", "Farming-fishing", "Transport-moving", "Priv-house-serv",
    "Protective-serv", "Armed-Forces"
])

gender_label = st.sidebar.radio("Gender", ["Male", "Female"])

hours_per_week = st.sidebar.slider("Hours per week", 1, 80, 40)

# Encode occupation and gender using saved encoders
occupation_encoded = occupation_encoder.transform([occupation_label])[0]
gender_encoded = gender_encoder.transform([gender_label])[0]

# Build input DataFrame
input_df = pd.DataFrame({
    'age': [age],
    'educational-num': [educational_num],
    'occupation': [occupation_encoded],
    'gender': [gender_encoded],
    'hours-per-week': [hours_per_week]
})

st.write("### 🔎 Input Data")
st.write(input_df)

# Predict
if st.button("Predict Salary Class"):
    prediction = model.predict(input_df)[0]
    salary_class = prediction
    st.success(f"✅ Prediction: {salary_class}")

# Batch prediction
st.markdown("---")
st.markdown("#### 📂 Batch Prediction")
uploaded_file = st.file_uploader("Upload a CSV file for batch prediction", type="csv")

if uploaded_file is not None:
    batch_data = pd.read_csv(uploaded_file)
    try:
        # Encode batch data's occupation and gender
        batch_data['occupation'] = occupation_encoder.transform(batch_data['occupation'])
        batch_data['gender'] = gender_encoder.transform(batch_data['gender'])

        batch_preds = model.predict(batch_data)
        batch_data['PredictedClass'] = ["More than 50K" if pred == 1 else "Less than or equal to 50K" for pred in batch_preds]

        st.write("✅ Predictions:")
        st.write(batch_data.head())

        csv = batch_data.to_csv(index=False).encode('utf-8')
        st.download_button("Download Predictions CSV", csv, file_name='predicted_classes.csv', mime='text/csv')
    except Exception as e:
        st.error(f"❌ Error during batch prediction: {e}")

Overwriting app.py

In [75]:
import numpy as np
unique, counts = np.unique(y, return_counts=True)
print(dict(zip(unique, counts)))

{'<=50K': 36323, '>50K': 11649}